.button-input {
  background-color: rgb(180, 19, 54);
  border-radius: 5%;
  color: black;
  height: 40px;
}

.categories {
  margin: 10px;
  padding: 10px;
}

.category {
  padding: 5px;
}

.main {
  display: flex;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.search-input {
  border-radius: 5%;
  height: 40px;
  width: 600px;
}
