body {
  background-color: rgb(212, 243, 255);
  display: flex;
  justify-content: space-around;
}

.image-detail {
  height: 180px;
  width: 180px;
}

.show-value .add-button {
  border: 1px black solid;
  height: 10px;
  width: 10px;
}
