.container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.product {
  border: 1px solid black;
  margin: 1%;
  padding: 6px 10px;
}

a:link {
  color: black;
  text-decoration: none;
}

.buttomShop {
  border: 1px solid black;
  border-radius: 25px;
  margin: 1%;
  padding: 3%;
  text-align: center;
}
